*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-wrap:wrap ;
    overflow: hidden;
}
.card{
    height: 360px;
    width: 280px;
    background-color: white;
    border-radius: 10px;
    padding: 20px; 
}
.card img{
    height: 140px;
    width: 50%;
    object-fit: cover;
    border-radius: 50%;
    padding-bottom: 10px;
}
.card h1{
    font-size: 30px;
    padding-bottom: 15px;

}
.card h3{
    font-size: 25px;
    padding-bottom: 10px;
    color: crimson;

}
.card h5{
    font-size: 14px;
    padding-top: 12px;
    

}




