*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    background-color: black;
    
}
h1{
    padding: 80px 150px;
    border-radius: 10px;
    color: white;
}
button{
    padding: 0.5rem 1rem;
    background-color: green;
    font-size: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: 2rem;

}
button:hover{
    background-color: red;
    scale: 0.92;
}